body {
  font-family: Arial;
  background: #0f172a;
  color: white;
  padding: 20px;
}

input, button {
  padding: 10px;
  margin: 5px;
}

#messages {
  border: 1px solid #444;
  height: 250px;
  overflow-y: auto;
  padding: 10px;
  margin-bottom: 10px;
}
